.main {
  flex: 1;
  display: flex;
  min-height: 100px;
  flex-direction: column;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px;
}

.side-detail-loading {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  width: 200px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  text-align: center;
}

.side-detail {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  width: 200px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}

.checkout {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  width: 300px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;

  &-name-list {
    display: flex;
    flex-direction: column;
  }
  &-list-choose {
    color: #9ca3af;
    font-style: italic;
    font-size: 12px;
  }
  &-list-choose-cart {
    color: #9ca3af;
    font-style: italic;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}

.food {
  &-title {
    color: #6d6f71;
    text-transform: uppercase;
    font-weight: 300;
  }
  &-list {
    margin: 20px 0;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    margin: 10px 0;
  }
  &-item-left {
    display: flex;
    gap: 0 20px;
  }
  &-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
  }
  &-name {
    font-weight: 600;
    cursor: pointer;
  }
  &-desc {
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &-price-info {
    display: flex;
    align-items: center;
    gap: 0 10px;
    flex-shrink: 0;
  }
  &-price {
    flex-shrink: 0;
    font-size: 18px;
    color: #0288d1;
  }
  &-price-add {
  }
  &-price-icon {
    font-size: 22px;
    color: #ee4d2d;

    &:hover {
      opacity: 0.6;
    }
  }
}

.detail {
  &-heading {
    text-align: center;
    color: #ee4d2d;
    margin-bottom: 10px;
  }
  &-link {
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    padding: 3px 7px 1px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    &:hover {
      color: #ee4d2d;
    }
  }
  &-item {
    color: #6d6f71;
  }
}
.detail-link.active {
  background-color: #959595;
  color: #fff;
}

.checkout {
  &-item {
    margin-bottom: 10px;
  }
  &-list {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
  }
  &-heading {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &-heading-icon {
    color: #ee4d2d;
  }
  &-info {
    flex-grow: 1;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 10px;
  }
  &-name {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  &-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }
  &-price {
    flex-shrink: 0;
    color: #ee4d2d;
    font-size: 16px;
  }
  &-quantity {
    display: flex;
    font-size: 14px;
    margin-top: 7px;
    padding-bottom: 7px;
    gap: 0 10px;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
  }
  &-ship-info {
    display: flex;
    font-size: 14px;
    margin-top: 7px;
    gap: 0 10px;
    justify-content: space-between;
  }
  &-number {
    display: flex;
    align-items: center;
    span {
      margin: 0 7px;
    }
  }
  &-icon {
    font-size: 15px;
    color: rgba(238, 77, 45, 0.5);
    cursor: pointer;

    &:hover {
      color: #ee4d2d;
    }
  }
  &-ship {
    margin: 15px 0;
  }
  &-promotion {
    margin-top: 10px;
  }
  &-title {
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
  }
  &-secon {
    font-size: 11px;
    font-weight: 400;
  }
  &-ship-icon {
    font-size: 20px;
    color: #ee4d2d;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
.icon-ship {
  display: flex;
  align-items: center;
}

.checkout {
  &-btn {
    padding: 10px 15px;
    background: #ee4d2d;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }
  }
  &-disabled {
    background: #9ca3af;
  }
}
.btn {
  &-checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &-checkout-text {
    font-size: 18px;
  }
  &-checkout-price {
    font-size: 16px;
  }
}

.checkout-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(232, 227, 227);
}

.checkout-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.checkout-list::-webkit-scrollbar-track {
  border-radius: 5px;
}

.food {
  &-menu-text {
    text-transform: uppercase;
    color: #6d6f71;
    padding: 5px 0 0;
    margin: 20px 0 30px;
    font-weight: 300;
  }
  &-empty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &-empty-img {
    height: 150px;
    object-fit: contain;
  }
  &-empty-text {
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
    color: #ee4d2d;
  }
}
.is-current {
  background-color: #959595;
  color: #fff !important;
  border-radius: 10px;
}

.popup-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.popup-content {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 10px;
}

.popup {
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn {
    padding: 5px 70px;
    background: #ee4d2d;
    color: #fff;
  }
}

.popup {
  &-box {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 30px;
  }
  &-item {
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-top: 20px;
  }
  &-item-title {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  &-checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 50px;
  }
  &-checkbox-item {
    display: flex;
    align-items: center;
  }
  &-item-info {
    display: flex;
    align-items: center;
    gap: 0 30px;
    cursor: pointer;
  }
  &-item-price {
    font-size: 14px;
    color: #6d6f71;
  }
}
.text {
  &-gray-900 {
  }
}
.popup-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(232, 227, 227);
}

.popup-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.popup-box::-webkit-scrollbar-track {
  border-radius: 5px;
}

.food-price-prev {
  font-size: 13px;
  text-decoration: line-through;
  color: #6d6f71;
}
